<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TFCamera.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B0D7E5A51B5756F8007E9BE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0D7E5BE1B5756F9007E9BE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0D7E5C91B5756F9007E9BE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
